/*                     RESET                    */
body{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}
h1,h2,h3,h4, h5{
  margin: 0;
}
button, input{
  border: none;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/*                RESET END                */
.arrow{
  border:3px solid #ff6d6d;
  color: #ff6d6d;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius:50%;
  position: fixed;
  right: 50px;
  bottom: 50px
}
.arrow__inner{
  position: absolute;
  top: 13px;
  left: 13px;
  /* padding: 5px; */
}
/*                       HEADER                      */
 .header{
  background-color:#323969;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__burger{
  display: none;
  padding: 5px;
}
.menu__burger .fa-bars{
  color: #f3f3f3;
}
.nav > .ul{
  display: flex;
  justify-content: space-between;
}
.nav li{
  margin-right: 20px;
}
.nav a{
  color:#fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Exo";
}
 /*               HEADER END      */
 .title{
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  font-family: "Exo";
  text-transform: uppercase;
 }
 .sub__title{
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 50px;
  color: #282828;
  font-weight: bold;
  font-family: "Exo";
 }
 .none{
   display: none;
 }
 /*                  BG                    */
.bg{
  background-image: url("../images/photo-1433354359170-23a4ae7338c6.svg");
  background-image: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh;
  text-align: center;
}
.bg__inner{
  padding-top: 120px
}
.main_title{
  margin: 0;
  font-size: 60px;
  letter-spacing: 2px;
  color: #282828;
  line-height: 75px;
  font-family: 'Exo', sans-serif;
  font-weight: 250;
}
.main_sub__title{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color:#282828;
  font-family: "Exo";
  margin-top: 16px;
}
.play_button{
  width: 59px;
  height: 59px;
  background-color: #323969;
  border-radius: 29px;
  position: relative;
  margin: 30px auto;
}
.play__icon{
  position: absolute;
  top:20px;
  left: 25px;
  color: #fff;
}
.btn{
  width: 190px;
  height: 50px;
  background-color:#ff6d6d;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  color:#fff;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: "Exo";
}
 /*                  BG END               */

 /*               SECTION__2               */
 .section_2{
  padding: 180px 0;
  position: relative;
 }
 .section_2__inner{
  display: flex;
  justify-content: space-between;
 }
 .section_2__inner__left{
   width: 728px;
 }
 .pink{
   color:#ff6d6d
 }
 .sec_sub__title{
   font-size: 40px;
   letter-spacing: 2px;
   line-height: 50px;
   color: #282828;
   font-weight: bold;
   font-family: "Exo";
 }
 .sec_sub_par {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: bold;
  font-family: "Exo";
  margin-bottom:35px ;
 }
 .section_2__inner__right{
  background-color:#ff6d6d;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 500px;
  right: -400px;
  transform:rotate(-45deg) ;
  -webkit-transform:rotate(-45deg) ;
  -moz-transform:rotate(-45deg) ;
  -ms-transform:rotate(-45deg) ;
  -o-transform:rotate(-45deg) ;
}
 /*               SECTION__2 END           */

 /*               SECTION__3               */
.section_3{
  position: relative;
  padding: 122px 0;
  text-align: center;
  background-color: #f6f5f3;
  
}
.earphones{
  position: absolute;
  top: -20px;
  right: 177px;
  /* z-index: 999; */
}
.marker{
  position: absolute;
  top: -20px;
  left:117px
}
.section__3__inner__items{
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}
.section__3__inner__item{
  width: 355px;
  text-align: center;
}
.section__3__inner__item h4{
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #282828;
  font-weight: 700;
  font-family: "Exo";
  text-align: center;
}
.p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  font-weight: 700;
  font-family: "Exo";
  text-align: center;
}
 /*               SECTION__3 END            */

 /*               DESCRIPTION               */
.description{
  padding: 90px 0;
  position: relative;
  
}
.description__inner__left{
  background-color:#ff6d6d;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 100px;
  left: -550px;
  z-index: -999;
  transform:rotate(-45deg) ;
  -webkit-transform:rotate(-45deg) ;
  -moz-transform:rotate(-45deg) ;
  -ms-transform:rotate(-45deg) ;
  -o-transform:rotate(-45deg) ;
}
.description__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 /*               DESCRIPTION END               */

 /*               CLIENTS                       */
.clients{
  /* background-color:#1F2026; */
  background-image: url('../images/BG.png');
  padding: 105px 0 85px;
  background-image: no-repeat;
  background-size: cover;
  background-position:center;
  text-align: center;

}
.clients__inner__items{
  display: flex;
  justify-content: space-around;
  padding: 5px;
 
}
.client_img{
  width: 76px;
  height: 76px;
  background-color:#4e4e5e;
  border: 2px solid #1d1e24;
}
.client__name{
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Exo";
}
.client__profession{
  font-size: 16px;
  line-height: 50px;
  color: #ff6d6d;
  font-weight: 500;
  font-family: "Exo";
}
.clients__inner__item p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 500;
  font-style: italic;
  font-family: "Exo";
}
.company__logo__inner__items{
  display: flex;
  justify-content: space-around;
  margin-top: 95px;
}
  /*               CLIENTS END            */ 
  /*               BROWSER            */ 
.browser{
  background-color:#F6F5F3;
}
.browser__inner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  text-align: center;
  width: 680px;
  margin: 0 auto;   
}
.browser__inner p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #282828;
  opacity: 0.8;
  font-weight: 700;
  font-family: "Exo";
  text-align: center;
}
.browser__image{
  margin-top: 110px;
  width: 100%;
}
  /*               BROWSER END             */ 
  /*               TRY NOW                  */
.try__now{
  background-color:#323969;
  padding: 85px 0 80px;
  text-align: center;
}  
.try__now .sec_sub__title{
  color: #fff
}
.try__now p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 75px;
  color: #f6f5f3;
  font-weight: 400;
  font-family: "Exo";
  }
  .try__now input{
    background-color:rgba(246,245,243,0.2);
    color:#fff;
    padding: 16px 26px;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    border: none;
    width: 263px;
    height: 49px;
  }
  *{
    /* outline:1px solid red */
  }
  .form__items{
    margin-top: 93px;
  }
  form{
    display: flex;
    justify-content: space-between;
  }
  .try__now a{
    color: #f6f5f3;
  }
  .btn_try_now{
    width: 263px;
    height: 49px;
    background-color:#ff6d6d;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    color:#fff;
    letter-spacing: 3px;
    font-weight: 700;
    font-family: "Exo";
  }
  /*               TRY NOW END             */ 
   /*               FOOTER                */ 
   .footer{
    padding: 82px 0 95px;
    position: relative;
    z-index: -999;
   }
   .footer__inner__right{
    background-color:#ff6d6d;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -250px;
    right: -250px;
    z-index: 999;
    transform:rotate(-45deg) ;
    -webkit-transform:rotate(-45deg) ;
    -moz-transform:rotate(-45deg) ;
    -ms-transform:rotate(-45deg) ;
    -o-transform:rotate(-45deg) ;
   }
   .footer__inner__items{
    display: flex;
    background: #fff;
   }
   .footer__inner__item{
     width: 20%
   }
   .footer__logo span{
    font-size: 27px;
    line-height: 33px;
    color: #212126;
    font-weight: 400;
    font-family: "Lato";
   }
   .footer_title {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #282828;
    font-weight: bold;
    font-family: "Exo";
    margin-bottom: 15px;
}
   .footer__p{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #282828;
    font-weight: bold;
    font-family: "Exo";
   }
   form{
     margin-top: 5px;
   }
   .footer input{
     height: 50px;
     border-radius:3px;
     background-color: rgba(141,141,141,0.2);
     padding-left: 27px;
   }  
   .send{
    display: flex;
    align-items:center;
  }
  form{
    margin: 0;
    padding: 0;
  }
   .footer .button{
     background-color:#ff6d6d;
     color: #fff;
     width: 50px;
     height: 50px;
     border-bottom: #ff6d6d;
     /* box-shadow: 0 0 5px #ff6d6d;  */
   }
   .footer__icons{
     display: flex;
     justify-content: space-around;
     margin-top: 17px;
     opacity: 0.5;
   }
    /*               FOOTER END             */ 
/* MEDIA  */
@media only screen and (max-width:768px){
  .nav{
    display: none;
  }
  .menu__burger{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .section__3__inner__items{
    /* justify-content: center; */
    flex-direction: column;
  }
  .description__items {
    flex-direction: column;
    text-align: center;
  }
  .clients__inner__items{
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
  .browser{
    padding-top: 50px;
  }
  .browser__image {
    margin-top: 20px;
  }
  .try__now{
    padding: 50px 0;
  }
  .try__now .form__items{
    flex-direction: column;
    margin-top: 50px;
  }
  .form__items input{
    width:75%;
    margin-bottom: 20px;
  }
  .footer {
    padding: 50px 0;
    text-align: center;
  }
  .footer__inner__items {
    flex-direction: column;
    text-align: center;
  }
  .footer__inner__item{
    width: 100%;
   
  }
  .footer input{
  }

}
/* MEDIA END */
